apiVersion: batch/v1
kind: Job
metadata:
  name: rdm-refdb-updator
spec:
  backoffLimit: 0
  template:
    spec:
      containers:
        - name: rdm-refdb-updator-container
          image: CS_REGISTRY/world-cereal/rdm/refdbupdate:stable
          imagePullPolicy: Always
          env:
            - name: "TempFolder"
              value: "/tempdata"
            - name: ConnectionStrings__Default
              valueFrom:
                secretKeyRef:
                  name: rdm-conn-string-db
                  key: ewocmaster
            - name: S3Config___AccessKey
              valueFrom:
                secretKeyRef:
                  name: rdm-s3
                  key: "S3Config___AccessKey"
            - name: S3Config___Secret
              valueFrom:
                secretKeyRef:
                  name: rdm-s3
                  key: "S3Config___Secret"
            - name: S3Config___Region
              valueFrom:
                secretKeyRef:
                  name: rdm-s3
                  key: "S3Config___Region"
            - name: S3Config___ServiceName
              valueFrom:
                secretKeyRef:
                  name: rdm-s3
                  key: "S3Config___ServiceName"
            - name: BlobBaseUrl
              value: https://S3_BUCKET_URL
          volumeMounts:
            - name: data
              mountPath: /tempdata
      restartPolicy: Never
      imagePullSecrets:
        - name: aws-registry
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: refdb-pvc
      nodeSelector:
        system-tag: world-cereal-system