image:
  registry: CS_REGISTRY
  repository: world-cereal/rdm/web
  tag: stable
  pullPolicy: "IfNotPresent"
  pullSecrets:
    - aws-registry

extraEnvVars:
  - name: "NEXT_PUBLIC_API_BASE_URL"
    value: "http://rdm.HOSTNAME/data"
  - name: "NEXT_TELEMETRY_DISABLED"
    value: "1"   

containerPorts:
  http: 80

replicaCount: 3

nodeSelector:
  system-tag: world-cereal-system

podAntiAffinityPreset: hard

service:
  ## @param service.type Service type
  ##
  type: ClusterIP
  ## @param service.port Service HTTP port
  ##
  port: 80

ingress:
  enabled: false


