apiVersion: batch/v1
kind: Job
metadata:
  name: rdm-db-migrator
spec:
  backoffLimit: 0
  template:
    spec:
      containers:
        - name: rdm-db-migrator-container
          image: CS_REGISTRY/world-cereal/rdm/dbmigrator:stable
          imagePullPolicy: IfNotPresent
          env:
            - name: ConnectionStrings__Default
              valueFrom:
                secretKeyRef:
                  name: rdm-conn-string-db
                  key: ewocmaster
      restartPolicy: Never
      imagePullSecrets:
        - name: aws-registry
      nodeSelector:
        system-tag: world-cereal-system